<html>
<head>
  <title>Hangman</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container">
  <h1>Hangman</h1>

  <form class="stuff">
    <input type="text" name="letter" placeholder="letter" class="input-letter">
    <button type="submit" class="grass">submit</button>
  </form>
  <h2 class="guess"><%= guess %></h2>
  <h3>You have <%= 8 - turn %> turns left.</h3>
  <h3>Letters used: <%= letters_used %></h3>
  <form action="POST" name="new" class="newgame">
    <button type="submit">Restart</button>
  </form>
</div>
<img class="hangman" src="images/state<%= turn %>.png">
</body>
</html>

